body {
    background-color: #303446;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    color: #c6d0f5;
}
.container {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 100;
}

#footer {
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    width: 100vw;
    height: 5vh;
    left: 0;
    bottom: 0;
    background-color: #232634;
}
.info, .projects {
    width: 450px;
    margin-left: 20;
    margin-right: 20;
}

#name_title {
    display: flex;
    flex-flow: row;
    align-items: center;
}
#name_title p {
    display: block;
}
#name_title_text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
p, h1 {
    margin-top: 1px;
    margin-bottom: 1px;
}
p, a {
    font-size: 20;
}
a {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #f2d5cf;
}
h1 {
    font-size: 25;
    color: #b5bfe2;
}
.subtitle {
    color: #ef9f76;
}
#name_title_text h1, #projects_title h1 {
    font-size: 200%;
    color: #a5adce;
}
#pfp_image {
    border-radius: 20px;
    margin-right: 20px;
    height: 90px;
}

#name_title, #about, #skills, #links, #sub, #projects_title {
    margin-bottom: 30px;
    margin-top: 30px;
}

#project1 {
    position: relative;
    background: #292c3c;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#project1_title, .project1_icons {
    color: #DDB6F2;
}
#project2_title, .project2_icons {
    color: #F5C2E7;
}
.project1_icons, .project2_icons {
    font-family: 'Fira Sans';
}

.info_icons {
    color: #DDB6F2;
    font-family: 'Fira Sans';
}

@media only screen and (max-width: 1050px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    #footer {
        padding-left: 0;
        justify-content: center;
    }
    #footer p {
        text-align: center;
    }
}
